
.loginForm {
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    background-position: center;
    background-size: cover;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    box-shadow:10px 10px 15px rgba(0,0,0,0.5);
    transform:translate(-50%, -50%);
}

.loginForm-title {
    text-align: center;
    padding:20px 0;
    border-bottom:1px solid silver;
    color:#EF7F1A;
}

.loginForm form {
    padding: 20px 40px;
    color: #EF7F1A;
}

.loginForm button {
    margin: 20px 0;
}

.loginForm a {
    padding-right: 10px;
}