/* CONTAINERS */

.cimsysIndex{
    
    height: 100vh;
    width: 100%;
    background-image: url(../images/AmazonSmart.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}

.sectionIndex{
 
    margin: 0;
    padding-top: 1px;
    box-sizing: border-box;
    font-family:'Festive', cursive;
    color: orange;
    text-align: center;
    font-size: 30px;

}

.warningMessage{
    margin: 5px;
    padding: 5px;
    box-sizing: content-box;
    background: transparent;
    font-family:'Barlow', sans-serif;
    text-align: center;
    /*position: bottom;*/
    color: white;
    
    
}

.signInLink{
    
    font-family: 'Barlow', sans-serif;
    text-decoration: blue;
    color: white;

}

.signInLink:hover{
    text-decoration:underline;
}   

.main-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;

}

.grid {
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

.text-constainer {
    width: 60%;
}

.image-container {
    width: 40%;
}

/* MENU */

.menu {
    
}

.menu-item {
    display: inline-block;
    padding-left: 20px;
}

.menu-item.active {
    text-decoration: underline;
}

.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-link.active {
  text-decoration: underline;
  font-weight: bold;
}

.menu-item:first-child {
    padding-left: 0;
}

.menu-items {
    display: flex;
    list-style: none;
}

.side-menu {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

/* IMAGES */

.image-container .image {
    width: 100%;
    height: 350px;
}

.nav-img::before {
  content: "";
  background-image: url(../images/arrows-right-icon.png);
  background-size: contain;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 5px;
  margin-right: 8px;
}

/* :::de Juan::: */
nav ul li a{
    
    color:black;
 
}