<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Caso')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='')"></div>

        <div class="main-container">
            <div class="container">
                <div class="row">

                    <form class="d-none"
                          th:object="${caso}"
                          th:action="@{/guardarCaso}"
                          method="POST">
                        <input type="hidden" th:field="*{id}" id="id">
                        <input type="hidden" th:field="*{Codigo}" id="Codigo">
                        <input type="hidden" th:field="*{Titulo}" id="Titulo">
                        <input type="hidden" th:field="*{Descripcion}" id="Descripcion">
                        <input type="hidden" th:field="*{resolucion}" id="resolucion">
                        <input type="hidden" th:field="*{Status}" id="Status">
                    </form>

                    <form class="d-none"
                          th:object="${nuevoComentario}"
                          th:action="@{/guardarComentario}"
                          method="POST">
                        <input type="hidden" th:field="*{caso}" id="caso">
                        <input type="hidden" th:field="*{usuario}" id="usuario">
                        <input type="hidden" th:field="*{Comentario}" id="Comentario">
                    </form>

                    <div class="col-9 auto-save-inputs">
                        <div class="">
                            <h5 th:text="${caso.getCodigo}">ID</h5>
                            <input type="text" th:value="${caso.getTitulo}" class="form-control mb-3 authorable" target="Titulo">
                        </div>

                        <div class="row mb-3">
                            <p>Detalles</p>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <p>Tipo:</p>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control">
                                            <option selected>Issue</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <p>Status:</p>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control" val>
                                            <option th:value="${caso.getStatus}">Abierto</option>
                                            <option th:value="${caso.getStatus}">En Progreso</option>
                                            <option th:value="${caso.getStatus}">Cerrado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <p>Resolución:</p>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control">
                                            <option selected>Pendiente</option>
                                            <option>Aceptada</option>
                                            <option>Rechazada</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <p>Description</p>

                            <div class="col-12">
                                <textarea class="full shadow-lg" th:text="${caso.getDescripcion}">Description</textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <p>Comentarios</p>

                            <th:block th:each="comentario : ${comentarios}">
                                <div class="col-12">
                                    <div class="shadow-lg p-3 mb-3 bg-body rounded">
                                        <p th:text="${comentario.getComentario}">Comment</p>
                                        <a th:href="@{/eliminarComentario/{id}(id=${comentario.getId})}">Eliminar</a>
                                    </div>
                                </div>
                            </th:block>

                            <div class="col-12">
                                <textarea class="full comment-case"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-primary comment-case" target="Comentario">Comentar</button>
                            </div>
                        </div>
                    </div>

                    <!-- sideBar -->
                    <div class="col-3">
                        <p>Persona</p>
                        <div class="col-12">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Cliente:</p>
                                </div>
                                <div class="col-6">
                                    <a th:href="@{/persona/{id}(id=${caso.getCliente.getId})}" th:text="${caso.getCliente.getNombre}"></a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Analista:</p>
                                </div>
                                <div class="col-6">
                                    <a th:href="@{/persona/{id}(id=${caso.getAsignado.getId})}" th:text="${caso.getAsignado.getUserName}"></a>
                                </div>
                            </div>
                        </div>

                        <p>Dates</p>
                        <div class="col-12">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Creada:</p>
                                </div>
                                <div class="col-6">
                                    <p>20/04/2022</p>
                                </div>
                            </div>
                            <div class="row mb-3">                                
                                <div class="col-6">
                                    <p>Actualizada:</p>
                                </div>
                                <div class="col-6">
                                    <p>22/04/2022</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>