<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Management')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='control')"></div>

        <div class="main-container">

            <!-- TITULOS -->
            <div class="container">
                <div class="page-title">
                    <h1>Control</h1>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                            <p class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                                <span class="fs-5 fw-semibold">Abierto</span>
                            </p>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small>Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small class="text-muted">Tues</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small class="text-muted">Mon</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                            <p class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                                <span class="fs-5 fw-semibold">En Progreso</span>
                            </p>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small>Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                            <p class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                                <span class="fs-5 fw-semibold">Cerrado</span>
                            </p>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small>Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small class="text-muted">Tues</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>  
            </div>

            <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>
