<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Management')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='control')"></div>

        <div class="main-container">

            <!-- TITULOS -->
            <div class="container">
                <div class="page-title">
                    <h1>Control</h1>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                            <p class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                                <span class="fs-5 fw-semibold">[[#{aplicacion.abierto}]]</span>
                            </p>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <th:block th:each="caso : ${casos}">
                                    <a th:if="${caso.getStatus() == '0'}" th:href="@{/caso/{id}(id=${caso.getId})}" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <strong class="mb-1" th:text="${caso.getTitulo}">Titulo</strong>
                                            <small th:text="${caso.getResolucion}">...</small>
                                        </div>
                                        <div class="col-10 mb-1 small" th:text="${caso.getDescripcion}">...</div>
                                    </a>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                            <p class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                                <span class="fs-5 fw-semibold">[[#{aplicacion.progreso}]]</span>
                            </p>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <th:block th:each="caso : ${casos}">
                                    <a th:if="${caso.getStatus() == '1'}" th:href="@{/caso/{id}(id=${caso.getId})}" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <strong class="mb-1" th:text="${caso.getTitulo}">Titulo</strong>
                                            <small th:text="${caso.getResolucion}">...</small>
                                        </div>
                                        <div class="col-10 mb-1 small" th:text="${caso.getDescripcion}">...</div>
                                    </a>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                            <p class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                                <span class="fs-5 fw-semibold">[[#{aplicacion.cerrado}]]</span>
                            </p>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <th:block th:each="caso : ${casos}">
                                    <a th:if="${caso.getStatus() == '2'}" th:href="@{/caso/{id}(id=${caso.getId})}" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <strong class="mb-1" th:text="${caso.getTitulo}">Titulo</strong>
                                            <small th:text="${caso.getResolucion}">...</small>
                                        </div>
                                        <div class="col-10 mb-1 small" th:text="${caso.getDescripcion}">...</div>
                                    </a>
                                </th:block>
                            </div>
                        </div>
                    </div>

                </div>  
            </div>

            <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>
