<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">

    <head th:replace="plantilla/template :: Head (pageTitle='FAQs')">
    </head>

    <body>
        <div th:replace="plantilla/template :: NavBar (module='faq')"></div>

        <div class="container">
            <div class="frecuently">
                <p>[[#{aplicacion.faqTitle}]]</p>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Como Cambiar el status de mi caso 
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Como Hacer que me aparezca todo mi caso asignado 
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Que hacer cuando por error digite mal algun campo 
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the
                            space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                    </div>
                </div>
            </div>
        </div>
        
        

        <div class="container">
            <div  class="row mb-3">
                <div class="col-12 border bg-light">
                    <label>[[#{aplicacion.pregunta}]]</label>
                    <textarea class="full"></textarea>
                    <label>[[#{aplicacion.respuesta}]]</label>
                    <textarea class="full"></textarea>
                    <button type="button" class="btn btn-outline-primary">+</button>
                </div>
            </div>
        </div>


        <footer th:replace="plantilla/template :: Footer"></footer>
    </body>

</html>