<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Stage')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='inicio')"></div>

        <div class="main-container">

            <div class="container border border-dark rounded mb-3">
                <h4>Assigned to me </h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">key</th>
                            <th scope="col">Summary</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <th:block th:each="caso : ${casos}">
                        <tr>
                            <td>
                                <a th:href="@{/caso/{id}(id=${caso.getId})}" th:text="${caso.getCodigo}"></a>
                            </td>
                            <td th:text="${caso.getTitulo}"></td>
                            <td th:text="${caso.getStatus}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>

            <div class="container border border-dark rounded mb-3">
                <h4>Watched Issues</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">key</th>
                            <th scope="col">Summary</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <th:block th:each="caso : ${casos}">
                        <tr>
                            <td>
                                <a th:href="@{/caso/{id}(id=${caso.getId})}" th:text="${caso.getCodigo}"></a>
                            </td>
                            <td th:text="${caso.getTitulo}"></td>
                            <td th:text="${caso.getStatus}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>

        </div>

        <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>