<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Stage')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='inicio')"></div>

        <div class="main-container">

            <!-- MOCK -->
            <div class="container">
                <div class="image-container--full">
                    <div class="image-frame">
                        <img class="image" src="./images/mocks/inicio.PNG" alt="alt"/>
                    </div>
                </div>
            </div>

            <div class="container">
                <table class="table">
                    <th:block th:each="caso : ${casos}">
                        <tr>
                            <td>
                                <a th:href="@{/caso/{id}(id=${caso.getId})}" th:text="${caso.getCodigo}"></a>
                            </td>
                            <td ></td>
                            <td th:text="${caso.getTitulo}"></td>
                            <td th:text="${caso.getDescripcion}"></td>
                            <td th:text="${caso.getStatus}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>

        </div>

        <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>