<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Caso')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='')"></div>

        <div class="main-container">

            <div class="container">
                <div class="row">
                    <h5>Summary</h5>

                    <div class="row mb-3">
                        <p>Details</p>
                        <div class="col-6">
                            <div class="row mb-3">
                                <div>Avatar</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Full name</p>
                                </div>
                                <div class="col-6">
                                    <p th:text="${persona.getNombre +' '+ persona.getApellidos}">Daniel Murillo</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>User Id</p>
                                </div>
                                <div class="col-6">
                                    <p th:text="${persona.getCedula}">Cedula</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Email</p>
                                </div>
                                <div class="col-6">
                                    <p th:text="${persona.getEmail}">mail@mail.com</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Phone</p>
                                </div>
                                <div class="col-6">
                                    <p th:text="${persona.getTelefono}">Phone</p>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <h5>Historial de comparas</h5>

                    <div class="row mb-3">
                        <div class="col-12">
                            <p>compra 1</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <p>compra 2</p>
                        </div>
                    </div>
                </div>


            </div> 

            <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>