<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Caso')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='')"></div>

        <div class="main-container">

            <!-- MOCK -->
            <div class="container">
                <div class="image-container--full">
                    <div class="image-frame">
                        <img class="image" src="../images/mocks/persona.PNG" alt="alt"/>
                    </div>
                </div>
            </div> 


            <div class="container">
                <table class="table">
                    <tr>
                        <td th:text="${persona.getId}"></td>
                        <td th:text="${persona.getCedula}"></td>
                        <td th:text="${persona.getNombre}"></td>
                        <td th:text="${persona.getApellidos}"></td>
                        <td th:text="${persona.getEmail}"></td>
                        <td th:text="${persona.getTelefono}"></td>
                    </tr>
                </table>
            </div>


        </div> 

        <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>