<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: Head (pageTitle='Caso')">
    </head>
    <body>
        <div th:replace="plantilla/template :: NavBar (module='')"></div>

        <div class="main-container">

            <form class="d-none"
                  th:object="${persona}"
                  th:action="@{/guardarPersona}"
                  method="POST">
                <input type="hidden" th:field="*{id}" id="id">
                <input type="hidden" th:field="*{Nombre}" id="Nombre">
                <input type="hidden" th:field="*{Apellidos}" id="Apellidos">
                <input type="hidden" th:field="*{Cedula}" id="Cedula">
                <input type="hidden" th:field="*{Email}" id="Email">
                <input type="hidden" th:field="*{Telefono}" id="Telefono">
            </form>

            <div class="container">
                <div class="row">
                    <h5>Summary</h5>

                    <div class="row mb-3 auto-save-inputs">
                        <p>Details</p>
                        <div class="col-6">
                            <div class="row mb-3">
                                <div>Avatar</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Full name</p>
                                </div>
                                <div class="col-6">   
                                    <input type="text" th:value="${persona.getNombre +' '+ persona.getApellidos}" class="form-control mb-3 authorable" target="Nombre">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>User Id</p>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:value="${persona.getCedula}" class="form-control mb-3 authorable" target="Cedula">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Email</p>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:value="${persona.getEmail}" class="form-control mb-3 authorable" target="Email">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <p>Phone</p>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:value="${persona.getTelefono}" class="form-control mb-3 authorable" target="Telefono">
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <h5>Historial de comparas</h5>

                    <div class="row mb-3">
                        <div class="col-12">
                            <p>compra 1</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <p>compra 2</p>
                        </div>
                    </div>
                </div>


            </div> 

            <footer th:replace="plantilla/template :: Footer"></footer>
    </body>
</html>