
    <html>
    <head>
        <title>Transactions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/transactions.css">
    </head>
    
    <body>
        <h1>Payment methods</h1>
        <div class="main-container">
            <div class="imageChange">
                <img src="./images/transaction.png" alt="logo"/>
            </div>
            
            <div>Will try to connect to a database (still not for sure)</div>
            <a href="https://www.flaticon.com/free-icons/transaction" title="transaction icons">Transaction icons created by Freepik - Flaticon</a>
        </div>
    
    </body>
    
    </html>
